################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BankingAppMarch/v15/Server/sqlite3
/BankingAppMarch/bin/Debug/netcoreapp2.1
/.vs/BankingAppMarch/v15
/BankingAppMarch/obj
